[submodule "codecademy-learn-react-2022"]
	path = codecademy-learn-react-2022
	url = https://github.com/somekindofwallflower/codecademy-learn-react-2022
[submodule "codecademy-learn-javascript"]
	path = codecademy-learn-javascript
	url = git@github.com:somekindofwallflower/codecademy-learn-javascript.git
[submodule "codecademy-pass-the-technical-interview-with-javascript"]
	path = codecademy-pass-the-technical-interview-with-javascript
	url = git@github.com:somekindofwallflower/codecademy-pass-the-technical-interview-with-javascript.git
[submodule "codecademy-full-stack-engineer"]
	path = codecademy-full-stack-engineer
	url = git@github.com:somekindofwallflower/codecademy-full-stack-engineer.git
[submodule "codecademy-intermediate-javascript"]
	path = codecademy-intermediate-javascript
	url = git@github.com:somekindofwallflower/codecademy-intermediate-javascript.git
